<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.housecontrol"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="15" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.housecontrol.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.housecontrol.InitialScreen"
            android:label="@string/title_activity_initial_screen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.housecontrol.CreateHouse"
            android:label="@string/title_activity_create_house" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.housecontrol.ListHouseActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.housecontrol.FloorCreator"
            android:label="@string/title_activity_floor_creator" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.housecontrol.CreateHouse" />
        </activity>
        <activity
            android:name="com.example.housecontrol.DefineFloor"
            android:label="@string/title_activity_define_floor" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.housecontrol.ConfigureFloorActivity"
            android:label="@string/title_activity_configure_floor" >
        </activity>
        <activity
            android:name="com.example.housecontrol.ListHouseActivity"
            android:label="@string/title_activity_list_house" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.housecontrol.LoginActivity" />
        </activity>
        <activity
            android:name="com.example.housecontrol.EditRoomActivity"
            android:label="@string/title_activity_edit_room" >
        </activity>
        <activity
            android:name="com.example.housecontrol.EquipmentCommActivity"
            android:label="@string/title_activity_equipment_comm" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.housecontrol.HouseControlSettings"
            android:label="@string/title_activity_house_control_settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.housecontrol.ListHouseActivity" />
        </activity>
    </application>
</manifest>